version: '3.8'

networks:
  app:

volumes:
  postgres_data:

services:
  postgres:
    restart: always
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: genatasks777
      POSTGRES_DB: liceum_db
      POSTGRES_USER: postgres
    ports:
      - 5432:5432
    networks:
      - app
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 7s
      retries: 5
      start_period: 30s
      timeout: 10s

  backend:
    build: 
      context: .
    command: ./main
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app

  frontend:
    build: 
      context: ../liceum_frontend
    networks:
      - app
    ports:
      - 3000:3000

  nginx:
    image: nginx:stable-alpine
    ports:
      - 80:80
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - frontend
      - backend
    networks:
      - app